extends layout

block content

  .container
    #carouselExampleControls.carousel.slide(data-ride='carousel')
      .carousel-inner
        .carousel-item
          img.d-block.w-50(src="https://picsum.photos/1900/1080?image=0")

      .row.justify-content-center
        form(method='POST' action='/send' id=from)
          .form-group
            label(for="pseudo") Pseudonyme
            input(name="pseudo" type="text" class="form-control" id="pseudo" placeholder="Entrer Pseudo")
            input(type="hidden" name=photo_id id=photo_id)
            input(type="hidden" name="avis" id="avis")
            button(type="submit" class="btn btn-outline-danger" id="dislike")
              a(href='#')
                i.far.fa-thumbs-down(aria-hidden='true')
            button(type="submit" class="btn btn-outline-success" id="like")
              a(href='#')
                i.far.fa-thumbs-up(aria-hidden='true')
