extends layout

block content

  .container
    #carouselExampleControls.carousel.slide(data-ride='carousel')
      .carousel-inner
        

      .row.justify-content-center
        form
          .form-group
            label(for="pseudo") Pseudonyme
            input(type="text" class="form-control" id="pseudo" placeholder="Entrer Pseudo")
            button(type="submit" class="btn btn-outline-danger")
              a(href='#')
                i.far.fa-thumbs-down(aria-hidden='true')
            button(type="submit" class="btn btn-outline-success")
              a(href='#')
                i.far.fa-thumbs-up(aria-hidden='true')
