doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/vendor/bootstrap/dist/css/bootstrap.min.css')
  body
    block content
  footer
    link(rel='script', href='/vendor/jquery/dist/jquery.min.js')
    link(rel='script', href='/vendor/bootstrap/dist/js/bootstrap.min.js')
